<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test Vue frontend for Waterspout</title>

    <!-- begin Vuetify CDN Code -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <!-- end Vuetify CDN Code -->

    <link href="/static/waterspout_api/css/stormchaser.css" rel="stylesheet">

</head>
<body>
<div id="stormchaser">
    <v-app>
    <button v-on:click="load">Load</button>
    <h2>Active Regions</h2>
    <div>
        <Region
            v-for="r in activeRegions"
            v-bind:region="r"
            v-bind:key="r.id"
            ></Region>
    </div>
    <h2>Inactive Regions</h2>
    <div>
        <Region
            v-for="r in inactiveRegions"
            v-bind:region="r"
            v-bind:key="r.id"
            ></Region>
    </div>
    </v-app>
</div>

{% block jsvars %}
    <script type="application/javascript">
        // API endpoints - dumped here by back end for use later
        const user_api_token = "{{ USER_API_TOKEN }}";
        const api_url_regions = "{{ API_URLS_regions }}";
    </script>
{% endblock %}
{% verbatim %}

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<script>
    // First component will be a general card we can use both for regions and crops
    Vue.component('StormCard', {
       props: {'title': String,
           'class_name': String,
            'card_item': Object
        },
       template: `<v-card
                        class="storm_card"
                        :class="class_name"
                        elevation="5"
                        min-width=100
                        max-width=500
                        :title="title">
                            <slot></slot>
                            <button class="add_card" v-if="!this.card_item.active" @click="$emit('card-activate')">Add</button>
                            <button class="remove_card" v-if="this.card_item.active" @click="$emit('card-deactivate')">X</button>
                  </v-card>`,
        methods: { }
    });

    Vue.component('Region', {
        props: {
           region: Object,
        },
        template: `<StormCard class_name="region"
                                :title="region.name"
                                @card-activate="activate"
                                @card-deactivate="deactivate"
                                :card_item="region"
                        ><h4>{{ region.internal_id }}: {{ region.name }}</h4>
                        <div class="region_params" v-if="region.active">
                            <span v-text="region.water_pct"></span>
                            <v-slider
                                v-model="region.water_pct"
                                label="Water"
                                min=0
                                max=100
                                value=100
                                color="blue"
                                track-color="grey"
                            >
                                <!-- prepend and append templates taken from the v-slider doc examples -->
                                <template v-slot:prepend>
                                  <v-icon
                                    @click="decrement_water"
                                  >
                                    mdi-minus
                                  </v-icon>
                                </template>

                                <template v-slot:append>
                                  <v-icon
                                    @click="increment_water"
                                  >
                                    mdi-plus
                                  </v-icon>
                                </template>
                            </v-slider>
                        </div>
           </StormCard>`,
        methods: {
            activate: function (){
                this.region.active = true;
            },
            deactivate: function(){
                this.region.active = false;
            },
            increment_water: function(){
                this.region.water_pct++;
            },
            decrement_water: function(){
                this.region.water_pct--;
            },
        }
    });

    var stormchaser = new Vue({
        el: '#stormchaser',
        vuetify: new Vuetify(),
        data: {
            regions: []
        },
        methods: {
            load: function(){
                fetch_regions()
            }
        },
        computed: {
            activeRegions: function() {
                return this.regions.filter(region => region.active === true);
            },
            inactiveRegions: function() {
                return this.regions.filter(region => region.active === false);
            }

        }

    })

    function set_regions(data){
        // sets defaults for the application for each region
        data.forEach(function(region, index, array){
            data[index].active = false;
            data[index].water_pct = 100;
        })
        stormchaser.regions = data;
    }

    function fetch_regions(){
        fetch(api_url_regions)
            .then(response => response.json())
            .then(data => set_regions(data));
    }

</script>

{% endverbatim %}

</body>
</html>