<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test Vue frontend for Waterspout</title>
</head>
<body>

<div id="stormchaser">
    <ul>
        <Region
            v-for="r in regions"
            v-bind:region="r"
            v-bind:key="r.id"
            ></Region>
    </ul>
</div>
{% verbatim %}
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    Vue.component('Region', {
       props: ['region'],
       template: '<li>{{ region.internal_id }}: {{ region.name }}</li>'
    });

    var stormchaser = new Vue({
      el: '#stormchaser',
      data: {
        regions: []
      }
    })

    function set_regions(data){
        stormchaser.regions = data;
    }

    function fetch_regions(){
        fetch("/api/regions")
            .then(response => response.json())
            .then(data => set_regions(data));
    }
</script>

{% endverbatim %}

</body>
</html>